In [1]:
import numpy as np
import pandas as pd
import gc
import time

from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split

from tqdm import tqdm

import warnings
from time import time

In [2]:
%%time
train = pd.read_csv('../../TPS_2021/input/tabular-playground-series-jan-2021/train.csv')
test = pd.read_csv('../../TPS_2021/input/tabular-playground-series-jan-2021/test.csv')

CPU times: user 749 ms, sys: 94.9 ms, total: 844 ms
Wall time: 997 ms

In [3]:
train.head()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
0,1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
1,3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331
2,4,0.834950,0.227436,0.301584,0.293408,0.606839,0.829175,0.506143,0.558771,0.587603,0.823312,0.567007,0.677708,0.882938,0.303047,7.776091
3,5,0.820708,0.160155,0.546887,0.726104,0.282444,0.785108,0.752758,0.823267,0.574466,0.580843,0.769594,0.818143,0.914281,0.279528,6.957716
4,8,0.935278,0.421235,0.303801,0.880214,0.665610,0.830131,0.487113,0.604157,0.874658,0.863427,0.983575,0.900464,0.935918,0.435772,7.951046

In [4]:
features = train.columns[1:-1]

In [5]:
features

Index(['cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8',
       'cont9', 'cont10', 'cont11', 'cont12', 'cont13', 'cont14'],
      dtype='object')

In [7]:
target = train[['target']].values
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop(['id', ], axis=1, inplace=True)

In [8]:
%%time
train_test = pd.concat([train, test], axis =0)
RS = RobustScaler()
RS.fit(train_test)
del train_test
gc.collect()
gc.collect()
train[features] = RS.transform(train)
test[features] = RS.transform(test)
del RS
gc.collect()
gc.collect()

CPU times: user 441 ms, sys: 12.2 ms, total: 453 ms
Wall time: 452 ms

0

In [9]:
train.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,0.619576,0.629516,0.304043,-0.420714,-0.433759,1.139138,1.810939,-0.576590,0.578667,0.987360,1.270064,0.991039,0.931378,-0.312017
1,-0.319577,0.165642,0.442507,0.041016,0.496517,-0.062699,0.188664,0.282973,0.005998,-0.080497,-0.005542,-0.133218,-0.285365,-0.153483
2,1.166962,-0.794489,-0.821131,-0.417147,0.400947,1.059899,0.168677,0.218981,0.698831,1.122520,0.330946,0.498783,0.941435,-0.317867
3,1.119587,-0.958584,-0.014993,0.537145,-0.438088,0.929499,1.221853,0.989122,0.645061,0.375887,0.867135,0.864426,1.016393,-0.376061
4,1.500687,-0.321826,-0.813845,0.877028,0.552955,1.062726,0.087406,0.351134,1.873782,1.246045,1.433479,1.078761,1.068136,0.010533

In [10]:
xgtrain, xgval, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=42)

In [11]:
xgtrain['target'] = y_train
xgval['target'] = y_val

In [12]:
xgtrain.to_csv('../../TPS_2021/input/tabular-playground-series-jan-2021/xgtrain.csv', index=False)
xgval.to_csv('../../TPS_2021/input/tabular-playground-series-jan-2021/xgval.csv', index=False)